@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.card-container {
  width: 100%;
  max-width: 50vw;
}

.about-me-card {
  background: rgba(193, 213, 242, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  padding: 20px;
  text-align: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  color: #000;
}

.title {
  font-size: 1.3rem;
  color: #322d43;
  margin-top: 0.5rem;
  font-family: "Space Mono", monospace;
  font-weight: 400;
}

.description {
  color: #322d43;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 20px;
}

.social-media-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-media-link {
  color: #333;
  font-size: 30px;
  transition: color 0.3s ease;
}

.social-media-link:hover {
  color: #9d82ee;
}